.footer {
  background: $shaft;

  p {
    color: $white;
    max-width: 540px;
    text-align: center;
  }

  .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 176px;
  }
}
