.header {
  padding-top: 20px;
  min-height: 84px;
  background: $tropical;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  ul li {
    display: inline-block;
    padding: 0 8px;
    border-right: 2px solid $white;
  }

  ul li:last-child {
    border-right: none;
  }

  ul li a {
    color: $white;
  }

  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header {
    text-align: center;

    .flex-box {
      display: block;
    }

    ul {
      margin: 15px 0;
    }

    ul li {
      display: block;
      margin-bottom: 10px;
      border: none;
    }
  }
}
