.hero {
  background: url(../img/hero/fon.jpg) center center / cover no-repeat;

  .hero-message {
    text-align: center;
    color: $white;
    padding: 127px 0;
  }

  .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
