.jumbotron {
  margin-top: 84px;
  background: pink url(../img/jumbotron/fon.jpg) no-repeat 50% 50%;

  .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 403px;
  }
  h1 {
    color: $white;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .jumbotron {
    .flex-box {
      padding-top: 84px;
    }
  }
}
