.jumbotron {
  margin-top: 84px;
  background: url(../img/jumbotron/fon.jpg) 50% 50% / cover no-repeat;
  width: 100%;

  .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 403px;
  }
  h1 {
    color: $white;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .jumbotron {
    .flex-box {
      padding-top: 84px;
    }
  }
}
