.jumbotron {
  margin-top: 84px;
  background: url(../img/jumbotron/fon.jpg) center center / cover no-repeat;
  width: 100%;
  padding: 160px 0;

  h1 {
    color: $white;
    text-align: center;
  }
}
