.PPC {
  background: $white;
  padding: 50px 0;

  h2 {
    text-align: center;
  }

  p {
    margin-bottom: 35px;
  }

  P:last-child {
    margin-bottom: 0;
  }

  .grid-box {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 4%;
    margin-top: 16px;
    margin-bottom: 35px;
  }

  .text {
    display: flex;
    align-items: center;
  }

  .img {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .PPC {
    .grid-box {
      grid-template-columns: 1fr;
    }

    .img {
      justify-content: center;
      // margin: 10px 0;
    }
  }
}
