.PPC {
  background: $white;

  h2 {
    text-align: center;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 23px;
  }

  .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 604px;
  }

  .grid-box {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 4%;
  }
}

@media (max-width: 768px) {
  .PPC {
    h2 {
      line-height: 45px;
    }

    p {
      line-height: 27px;
    }

    .flex-box {
      min-height: 850px;
    }

    .grid-box {
      grid-template-columns: 1fr;
    }

    .img {
      text-align: center;
    }
  }
}
