.theTeam {
  background: $gallery;

  h2,
  .userPhoto {
    color: $tropical;
    text-align: center;
    margin-bottom: 56px;
  }

  .figcaption {
    color: $tropical;

    em {
      color: $black;
    }
  }

  .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 845px;
  }

  .content {
    width: 100%;
  }

  .user {
    .item {
      .flex {
        display: flex;
        justify-content: center;
      }

      .userPhoto {
        width: 168px;
        height: 168px;
        background: darkgray;
        border-radius: 50%;
        text-align: center;
        line-height: 168px;
        margin-bottom: 12px;
      }

      figcaption {
        text-align: center;
      }
    }
  }

  .grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 82px;
  }
}

@media (max-width: 768px) {
  .theTeam {
    .flex-box {
      min-height: 950px;
    }
    .grid-box {
      grid-template-columns: 1fr 1fr;
      row-gap: 42px;
    }
  }
}

@media (max-width: 576px) {
  .theTeam {
    h2 {
      margin-bottom: 30px;
    }

    .flex-box {
      min-height: 1650px;
    }

    .grid-box {
      grid-template-columns: 1fr;
      row-gap: 12px;
    }
  }
}
