.theProplem {
  background: $gallery;

  h2 {
    color: $tropical;
    text-align: center;
    padding-bottom: 16px;
  }

  p {
    color: $black;
    padding-bottom: 20px;
  }

  .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 719px;
  }
}

@media (max-width: 768px) {
  .theProplem {
    h2 {
      // line-height: 55px;
    }

    p {
      text-align: center;
    }

    .flex-box {
      min-height: 619px;
    }
  }
}
