.theProplem {
  background: $gallery;

  h2 {
    color: $tropical;
    text-align: center;
    padding-bottom: 16px;
  }

  p {
    color: $black;
    padding-bottom: 20px;
  }

  .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 719px;
  }
}

@media (max-width: 768px) {
  .theProplem {
    background: $gallery;

    h2 {
      padding-bottom: 10px;
      line-height: 45px;
    }

    p {
      color: $black;
      padding-bottom: 15px;
      line-height: 24px;
      text-align: center;
    }

    .flex-box {
      min-height: 680px;
    }
  }
}
