.theProplem {
  background: $gallery;
  padding: 50px 0;

  h2 {
    color: $tropical;
    text-align: center;
    padding-bottom: 16px;
  }

  p {
    color: $black;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .theProplem {
    p {
      text-align: center;
    }
  }
}
