@import './reset.scss';
@import './variables.scss';
@import './typography.scss';
@import './header.scss';
@import './jumbotron';
@import './theProplem.scss';
@import './hero';
@import './PPC';
@import './theTeam';

.wrapper {
  max-width: 2011px;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1219px;
  margin: 0 auto;
  padding: 0 55px;
}
