@import './reset.scss';
@import './variables.scss';
@import './header.scss';
@import './jumbotron';
@import './theProplem.scss';
@import './hero';
@import './PPC';
@import './theTeam';
@import './footer';
@import './typography.scss';

body {
  padding-top: 85px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1219px;
  margin: 0 auto;
  padding: 0 55px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 25px;
  }
}
